@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
html {
    font-size: 62.5%; /* 1rem = 10px */
    scroll-behavior: smooth;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    font: 1.6rem sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #222;
    letter-spacing: 0.1rem;
    min-height: 100svh;
}
*{
    box-sizing: border-box;
}
a{
    text-decoration: none
}

h1, h2, h3, h4, h5, h6 {
    font-size: xx-large;
    margin: 0;
}
p, figure, ol, ul, details summary{
    padding: 0;
    list-style: none;
    margin: 0;
}
details summary::-webkit-details-marker {
    display: none;   /* Masque la flèche pour les navigateurs WebKit (comme Chrome et Safari) */
    
}
details summary{
    cursor: pointer;
}
img{
    display: inline-block;
    vertical-align: middle;
    object-fit: cover;
}